@using System.Reflection.Emit
@model List<VeriTabaniProje.Models.Musteri>

@section Styles {
	<link rel="stylesheet" href="/css/kat.css" />
}
<div class="kat-background">
	<div class="d-flex justify-content-between w-100">
		<h2>Müşteriler</h2>
		<form method="get" asp-action="Index" class="mb-3 d-flex">
			<input type="text" name="search" value="@Context.Request.Query["search"]" class="form-control me-2"
				placeholder="Müşteri ara..." />
			<button type="submit" class="btn btn-primary">Ara</button>
		</form>
		<a asp-action="Create" asp-controller="Musteri" class="btn btn-success mt-1" role="button"><i
				class="bi bi-plus-square">Ekle</i></a>
	</div>
	<table class="table table-stripped table-dark border">
		<thead>
			<tr>
				<th scope="col">Müşteri No</th>
				<th scope="col">Müşteri Adı</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (Musteri musteri in Model)
			{
				<tr>
					<td>
						@musteri.Musterino
					</td>
					<td>
						@musteri.Ad @musteri.Soyad
					</td>
					<td>
						<div class="d-flex flex-column g-1">
						<a asp-action="Edit" asp-route-id="@musteri.Musterino" asp-controller="Musteri"
							class="btn btn-primary mt-1" role="button"><i class="bi bi-pencil-square">Düzenle</i></a>
						<a asp-action="Delete" asp-route-id="@musteri.Musterino" asp-controller="Musteri"
							class="btn btn-danger mt-1" role="button"><i class="bi bi-trash">Sil</i></a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>