@model VeriTabaniProje.Models.Avmyoneticisi
@section Styles {
    <link rel="stylesheet" href="/css/kat.css">
}

<div class="kat-background">
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }
    <h2 style="color:white;">@Model.Avmyoneticisino. - Nolu Avm Yöneticisi Silme</h2>
    <div class="main-content w-100" style="padding-top:20px;">
        <div class=" w-100">
            <table class="table table-stripped table-dark border">
                <thead>
                    <tr>
                        <th></th>
                        <th>Adı </th>
                        <th>Soyadı</th>
                        <th>Avm Adı</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <form asp-action="Delete" asp-controller="AvmYoneticisi" method="post">
                        <input type="hidden" name="Avmyoneticisino" value="@Model.Avmyoneticisino" />
                        <td></td>
                        <td> @Model.Adi </td>
                        <td> @Model.Soyadi </td>

                        <td>
                            @Model.Avm.Adi
                        </td>
                        <td>

                            <button type="submit" class="btn btn-danger">Sil</button>
                        </td>

                    </form>

                </tbody>
            </table>
        </div>
    </div>

</div>