@using System.Security.Cryptography
@model List<VeriTabaniProje.Models.Avmyoneticisi>


@section Styles {
  <link rel="stylesheet" href="/css/kat.css">
}

<div class="kat-background">
  @if (TempData["Error"] != null)
  {
    <div class="alert alert-danger">@TempData["Error"]</div>
  }

  @if (TempData["Success"] != null)
  {
    <div class="alert alert-success">@TempData["Success"]</div>
  }

  <div class="d-flex justify-content-between w-100 mb-2">
    <h2>Avm Yöneticisi</h2>
    <a asp-action="Create" asp-controller="AvmYoneticisi" class="btn btn-success mt-1" role="button"
      aria-pressed="true"><i class="bi bi-person-plus"></i> Ekle</a>
  </div>


  <table class="table table-stripped table-dark border">
    <thead>
      <tr>
        <th scope="col">Profil</th>
        <th scope="col">Avm Yönetici no</th>
        <th scope="col">Ad - Soyad</th>
        <th scope="col">Avm Adı</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @foreach (Avmyoneticisi a in Model)
      {
        var fotoDosya = a.Profilfoto;

        <tr>
          <td>
            <div>
              <img src="~/images/profil/profil//@fotoDosya" alt="profil Foto"
                style="width:20%;height:5%;border-radius:50%;margin-right:10px;">
            </div>
          </td>>
          <td>
            @a.Avmyoneticisino
          </td>
          <td>
            @a.Adi @a.Soyadi
          </td>
          <td>@a.Avm.Adi</td>
          <td>
            <div class="d-flex flex-column  g-1">
              <a asp-action="Edit" asp-route-id="@a.Avmyoneticisino" asp-controller="AvmYoneticisi"
                class="btn btn-primary mt-1" role="button" aria-pressed="true"><i class="bi bi-pencil-square"></i>
                Düzenle</a>
              <a asp-action="Delete" asp-route-id="@a.Avmyoneticisino" asp-controller="AvmYoneticisi"
                class=" btn btn-danger mt-1" role="button" aria-pressed="true"><i class="bi bi-x-square"> Sil</i></a>
            </div>

          </td>
        </tr>


      }
    </tbody>
  </table>
</div>