@using System.Security.Cryptography
@model List<VeriTabaniProje.Models.Magazasahibi>

@section Styles {
  <link rel="stylesheet" href="/css/kat.css">
}

<div class="kat-background">
  <div class="d-flex justify-content-between w-100 mb-2">
    <h2>Magaza Sahipleri</h2>
    <form method="get" asp-action="Index" class="mb-3 d-flex">
      <input type="text" name="search" value="@Context.Request.Query["search"]" class="form-control me-2"
        placeholder="Sahip ara..." />
      <button type="submit" class="btn btn-primary">Ara</button>
    </form>
  </div>


  <table class="table table-stripped table-dark border">
    <thead>
      <tr>
        <th scope="col">Profil</th>
        <th scope="col">Magaza sahibi no</th>
        <th scope="col">Ad - Soyad</th>
        <th scope="col">Magazalar</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @foreach (Magazasahibi ms in Model)
      {
        var fotoDosya = ms.Profilfoto;
        <tr>
          <td>
            <div>
              <img src="~/images/profil/profil//@fotoDosya" alt="profil Foto"
                style="width:20%;height:5%;border-radius:50%;margin-right:10px;">
            </div>
          </td>>
          <td>
            @ms.Magazasahibino
          </td>
          <td>
            @ms.Adi @ms.Soyadi
          </td>
          <td>
            @(ms.Magaza != null ? ms.Magaza.Adi : "Tanımsız")
          </td>

          <td>

            <div class="d-flex flex-column  g-1">
              <a asp-action="Edit" asp-route-id="@ms.Magazasahibino" asp-controller="Magazasahibi"
                class="btn btn-primary mt-1" role="button" aria-pressed="true"><i class="bi bi-pencil-square"></i>
                Düzenle</a>
            </div>
          </td>
        </tr>

      }
    </tbody>
  </table>
</div>