@model List<VeriTabaniProje.Models.Eglencemerkezi>

@section Styles {
	<link rel="stylesheet" href="/css/kat.css" />
}

<div class="kat-background">
	<div class="d-flex justify-content-between w-100">
		<h2>Eğlence Merkezi
		</h2>
		<form method="get" asp-action="Index" class="mb-3 d-flex">
			<input type="text" name="search" value="@Context.Request.Query["search"]"
				class="form-control me-2" placeholder="Oyuncak ara...">
			<button type="submit" class="btn btn-primary">Ara</button>
			</form>
		<a asp-action="Create" asp-controller="Eglencemerkezi" class="btn btn-success mt-1" role="button"><i
				class="bi bi-plus-square">Ekle</i></a>
	</div>

	<table class="table table-stripped table-dark border">
		<thead>
			<tr>
				<th scope="col">Kat No</th>
				<th scope="col">Oyuncak No</th>
				<th scope="col">Oyuncak</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (Eglencemerkezi eglencemerkezi in Model)
			{
				<tr>
					<td>
						@eglencemerkezi.Katno
					</td>
					<td>
						@eglencemerkezi.Oyuncakno
					</td>
					<td>
						@eglencemerkezi.Oyuncaklar
					</td>
					<td>
						<div class="d-flex flex-column g-1">
							<a asp-action="Edit" asp-route-id="@eglencemerkezi.Oyuncakno" asp-controller="Eglencemerkezi"
								class="btn btn-primary mt-1" role="button"><i class="bi bi-pencil-square">Düzenle</i></a>
							<a asp-action="Delete" asp-route-id="@eglencemerkezi.Oyuncakno" asp-controller="Eglencemerkezi"
								class="btn btn-danger mt-1" role="button"><i class="bi bi-trash">Sil</i></a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>