@model VeriTabaniProje.Models.Tedarikci
@section Styles{
    <link rel="stylesheet" href="/css/kat.css">
}
<div class="kat-background">
     <h2 style="color:white;">@Model.Tedarikcino. Nolu Tedarikçi Sil</h2>

     <div class="main-content w-100" style="padding-top:20px;">
     <div class="w-100">
        <table class="table table-stripped table-dark border">
            <thead>
                <tr>
                    <th></th>
                    <th>Adi</th>
                    <th>Soyadi</th>
                    <th>Magazalar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <form asp-action="Delete" asp-controller="Tedarikci" method="post" style="display:inline;">
             <input type="hidden" name="Id" value="@Model.Tedarikcino">          
                <td></td>
                <td>@Model.Adi</td>
                <td>@Model.Soyadi</td>
                <td>
                <ul>
                    @foreach(Magaza m in Model.Magazanos ){
                        <li>
                            @m.Adi
                        </li>
                    }
                </ul>
                </td>
                <td><button type="submit" class="btn btn-danger">Sil</button></td>
                        
            </form>
            </tbody>
        </table>
     </div>
     </div>

</div>