@using System.Security.Cryptography
@model List<VeriTabaniProje.Models.Magazaelemani>


@section Styles {
  <link rel="stylesheet" href="/css/kat.css">
}

<div class="kat-background">
  @if (TempData["Error"] != null)
  {
    <div class="alert alert-danger">@TempData["Error"]</div>
  }

  @if (TempData["Success"] != null)
  {
    <div class="alert alert-success">@TempData["Success"]</div>
  }

  <div class="d-flex justify-content-between w-100 mb-2">
    <h2>Magaza Elemanları</h2>
    <form method="get" asp-action="Index" class="mb-3 d-flex">
      <input type="text" name="search" value="@Context.Request.Query["search"]" class="form-control me-2"
        placeholder="Mağaza elemanı ara..." />
      <button type="submit" class="btn btn-primary">Ara</button>
    </form>
    <a asp-action="Create" asp-controller="MagazaElemani" class="btn btn-success mt-1" role="button"
      aria-pressed="true"><i class="bi bi-person-plus"></i> Ekle</a>
  </div>


  <table class="table table-stripped table-dark border">
    <thead>
      <tr>
        <th scope="col">Profil</th>
        <th scope="col">Magaza Eleman no</th>
        <th scope="col">Ad - Soyad</th>
        <th scope="col">Magaza</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @foreach (Magazaelemani me in Model)
      {
        var fotoDosya = me.Profilfoto;

        <tr>
          <td>
            <div>
              <img src="~/images/profil/profil/@fotoDosya" alt="profil Foto"
                style="width:20%;height:5%;border-radius:50%;margin-right:10px;">
            </div>
          </td>>
          <td>
            @me.Magazaelemanno
          </td>
          <td>
            @me.Adi @me.Soyadi
          </td>
          <td>@me.MagazanoNavigation?.Adi</td>
          <td>
            <div class="d-flex flex-column  g-1">
              <a asp-action="Edit" asp-route-id="@me.Magazaelemanno" asp-controller="MagazaElemani"
                class="btn btn-primary mt-1" role="button" aria-pressed="true"><i class="bi bi-pencil-square"></i>
                Düzenle</a>
              <a asp-action="Delete" asp-route-id="@me.Magazaelemanno" asp-controller="MagazaElemani"
                class=" btn btn-danger mt-1" role="button" aria-pressed="true"><i class="bi bi-x-square"> Sil</i></a>
            </div>

          </td>
        </tr>


      }
    </tbody>
  </table>
</div>