@model VeriTabaniProje.Models.Kat
@section Styles{
    <link rel="stylesheet" href="/css/kat.css">
}

<div class="kat-background">
    <h2 style="color:white;">@Model.Katno. Kat - Personel Düzenle</h2>
    
    <div class="main-content w-100" style="padding-top:20px;">
        <div class=" w-100">
            <table class="table table-stripped table-dark border">
                <thead>
                    <tr>
                        <th>Personel Adı-Soyadi</th>
                        <th>Mevcut Kat</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Personel p in Model.Personels)
                    {
                        <tr>
                            <td>@p.Adi @p.Soyadi</td>
                            <td>@p.Katno</td>
                            <td>
                                <form asp-controller="Personel" asp-action="DeleteConfirmed" method="post" style="display:inline;">
                                    <input type="hidden" name="Personelno" value="@p.Personelno" />
                                    <button type="submit" class="btn btn-danger">Sil</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>