@model VeriTabaniProje.Models.Personel

<div class="border rounded p-2 mb-2 col-3 me-2">

    @Html.HiddenFor(m => m.Personelno)

    <div class="mb-2">
        @Html.LabelFor(m => m.Adi)
        @Html.TextBoxFor(m => m.Adi, new { @class = "form-control", @readonly = "readonly" })
    </div>

    <div class="mb-2">
        @Html.LabelFor(m => m.Soyadi)
        @Html.TextBoxFor(m => m.Soyadi, new { @class = "form-control", @readonly = "readonly" })
    </div>

    <div class="form-check" style="color:white;">
        @Html.RadioButtonFor(m => m.Katno, 0, new { @class = "form-check-input" })
        <label class="form-check-label">0. Kat</label>
    </div>

    <div class="form-check" style="color:white;">
        @Html.RadioButtonFor(m => m.Katno, 1, new { @class = "form-check-input" })
        <label class="form-check-label">1. Kat</label>
    </div>

    <div class="form-check" style="color:white;">
        @Html.RadioButtonFor(m => m.Katno, 2, new { @class = "form-check-input" })
        <label class="form-check-label">2. Kat</label>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Düzenle</button>

</div>