@model VeriTabaniProje.Models.Personel

@section Styles {
	<link rel="stylesheet" href="/css/kat.css" />
}
@if (TempData["Error"] != null)
{
	<div class="alert alert-danger">
		@TempData["Error"]
	</div>
}
<div class="kat-background">
	<div class="d-flex justify-content-between w-100 mb-3">
		<h2>Personel Sil</h2>
		<a asp-action="Index" class="btn btn-secondary mt-1">Geri</a>
	</div>
	<div class="main-content w-100" style="padding-top:20px;">
		<div class="w-100 container">
			<div class="alert alert-danger">
				Seçili Personel: <strong>@Model.Adi @Model.Soyadi</strong><br />
				Personel Numarası: <strong>@Model.Personelno</strong>
				Bulunduğu Kat : <strong>@Model.Katno</strong>
			</div>
			<form asp-action="DeleteConfirmed" asp-controller="Personel" method="post">
				@Html.AntiForgeryToken()
				<input type="hidden" asp-for="Personelno" />

				<table class="table table-stripped table-dark border">
					<tbody>
						<tr>
							<td>
								<button type="submit" class="btn btn-danger">
									<i class="bi bi-trash"></i>Sil</button>
							</td>
							<td>
								<a asp-action="Index" class="btn btn-secondary">İptal</a>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>