@model VeriTabaniProje.Models.Personel

@section Styles {
	<link rel="stylesheet" href="/css/kat.css" />
}
@if (TempData["Error"] != null)
{
	<div class="alert alert-danger">
		@TempData["Error"]
	</div>
}
<div class="kat-background">
	<h2 style="color:white;">Personel Düzenle</h2>
	<div class="main-content w-100" style="padding-top:20px;">
		<div class="w-100 container">
			<form asp-controller="Personel" asp-action="Edit" enctype="multipart/form-data" method="post">
				@Html.AntiForgeryToken()
				<input type="hidden" asp-for="Personelno" />

				<table class="table table-stripped table-dark border">
					<thead>
						<tr>
							<th>Profil</th>
							<th>Personel Numarası</th>
							<th>Kat Numarası</th>
							<th>Personel Adı</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>
								<img src="~/images/profil/profil/@Model.Profilfoto" alt="profil Foto"
									style="width:20%;height:20%;border-radius:50%;margin-right:10px;">
								<input type="file" name="Foto" />
							</td>
							<td class="align-middle">
								<span class="fw-bold">@Model.Personelno</span>
							</td>
							<td>
								<input type="number" name="Katno" value="@Model.Katno" class="form-control text-center"
									style="max-width:100px;" required />
							</td>
							<td>
								<input type="text" name="AdSoyad" value="@ViewBag.AdSoyad"
									class="form-control text-center" style="max-width:150px;" required />
							</td>


							<td>
								<div class="d-flex gap-2">
									<button type="submit" class="btn btn-success">
										<i class="bi bi-check-circle"></i>Kaydet
									</button>
									<a asp-action="Index" class="btn btn-secondary">İptal</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>