@using System.Security.Cryptography
@model List<VeriTabaniProje.Models.Gelir>

@section Styles {
	<link rel="stylesheet" href="/css/kat.css">
}
<div class="kat-background">
	<div class="d-flex justify-content-between w-100">
	<h2>Mağaza Gelirleri</h2>
	<form method="get" asp-action="Index" class="mb-3 d-flex">
		<input type="text" name="search" value="@Context.Request.Query["search"]"
		 class="form-control me-2" placeholder="Magaza ara...">
		<button type="submit" class="btn btn-primary">Ara</button></form>
	</div>
	
	<table class="table table-stripped table-dark border">
		<thead>
			<tr>
				<td scope="col"></td>
				<td scope="col">Gelir No</td>
				<td scope="col">Mağaza Adı</td>
				<td scope="col">Gelir Miktarı</td>
				<td scope="col"></td>
			</tr>
		</thead>
		<tbody>
			@foreach (var gelir in Model)
			{
				<tr>
					<th scope="row"></th>
					<td>
						@gelir.Gelirno
					</td>
					 <td>
						@gelir.MagazanoNavigation?.Adi
					</td> 
					<td>
						@gelir.Gelirmiktari
					</td>
					<td>
						<div class="d-flex flex-column g-1">
							<a asp-action="Edit" asp-route-id="@gelir.Gelirno" asp-controller="Gelir"
								class="btn btn-primary mt-1" role="button" aria-pressed="true"><i
									class="bi bi-pencil-square"></i>Düzenle</a>
							<a asp-action="Delete" asp-route-id="@gelir.Gelirno" asp-controller="Gelir"
								class="btn btn-danger mt-1" role="button" aria-pressed="true"><i
									class="bi bi-x-square">Sil</i></a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>